spring:
  jackson:
    time-zone: Asia/Seoul
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  application:
    name: dymit-api
  data:
    mongodb:
      host: ${DYMIT_MONGODB_HOST:localhost}
      port: ${DYMIT_MONGODB_PORT:27017}
      database: ${DYMIT_MONGODB_DATABASE:dymit}
      username: ${DYMIT_MONGODB_USERNAME:test_admin}
      password: ${DYMIT_MONGODB_PASSWORD:test1234}
      authentication-database: ${DYMIT_MONGODB_AUTHENTICATION_DATABASE:dymit}

jwt:
  secret: ${DYMIT_JWT_SECRET:secret}
  expiration: ${DYMIT_JWT_EXPIRATION:3600} # seconds
  issuer: ${DYMIT_JWT_ISSUER:https://test.dymit.com}
  audience: ${DYMIT_JWT_AUDIENCE:https://test.dymit.com}
  access-token:
    expiration: ${DYMIT_JWT_ACCESS_TOKEN_EXPIRATION:900000} # milliseconds
  refresh-token:
    expiration: ${DYMIT_JWT_REFRESH_TOKEN_EXPIRATION:2592000000} # milliseconds

dymit:
  debug-endpoint:
    enabled: ${DYMIT_DEBUG_ENDPOINT_ENABLED:false}
  oidc:
    apple:
      audience: "com.project.dymit"
    google:
      audience: "33564605967-67ggm8jg70kkiognv4jjbfavampnake8.apps.googleusercontent.com,33564605967-bronvoe294ns8v0brm51i848g6gqqmjl.apps.googleusercontent.com,33564605967-hp0jt1faj3r477dnvdq04iijsp7csep0.apps.googleusercontent.com"
swagger:
  domain: ${DYMIT_SWAGGER_DOMAIN:http://localhost:8080}

server:
  domain: ${DYMIT_API_SERVER_DOMAIN:http://localhost}
  port: ${DYMIT_API_SERVER_PORT:8080}
  ## 파일 업로드 시 용량 제한 2MB
  servlet:
    encoding:
      force-response: true
    multipart:
      max-file-size: ${DYMIT_SERVER_MAX_FILE_SIZE:2MB}
      max-request-size: ${DYMIT_SERVER_MAX_REQUEST_SIZE:2MB}

cdn: 
  domain: ${DYMIT_CDN_DOMAIN:http://localhost:8080}

firebase:
  config:
    path: ${DYMIT_FIREBASE_SERVICE_ACCOUNT_PATH}

log-reporter:
  enabled: ${DYMIT_LOG_REPORTER_ENABLED:false}
  discord:
    webhook:
      url: ${DYMIT_DISCORD_WEBHOOK_URL:}
    quartz:
      webhook:
        url: ${DYMIT_DISCORD_QUARTZ_WEBHOOK_URL:}
logging:
  level:
    root: ${DYMIT_SERVER_LOG_LEVEL:INFO}
    org.mongodb.driver: ${DYMIT_MONGODB_DRIVER_LOG_LEVEL:INFO}
    org.apache: ${DYMIT_APACHE_LOG_LEVEL:INFO}
    org.springframework.web: ${DYMIT_SPRING_WEB_LOG_LEVEL:INFO}
    org.springframework.data.mongodb: ${DYMIT_SPRING_DATA_MONGODB_LOG_LEVEL:INFO}

